@@ -161,3 +161,29 @@ footer a {
    gap: 0;
  }
}


.content-row {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

/* Left column */
.profile {
  width: 30%;
  text-align: center;
}

.profile img {
  width: 100%;
  max-width: 180px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* Right column */
.labs {
  width: 70%;
}
