<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print">

  {% include head-custom.html %}
</head>

<body>

  <header>
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <p>
      {{ site.description | default: site.github.project_tagline }}
    </p>
  </header>

  <div id="banner">
    <a href="{{ '/' | relative_url }}" class="button fork">
      <strong>Home</strong>
    </a>
    <span id="logo"></span>
  </div>

 
  <div class="wrapper">

  
    <nav>
      <ul>
       
      </ul>
    </nav>

    <section>
      {{ content }}
    </section>


    <footer>
      <p>
        <small>
          Hosted on GitHub Pages —
          {% if site.github.is_project_page %}
            maintained by
            <a href="{{ site.github.owner_url }}">
              {{ site.github.owner_name }}
            </a>
          {% endif %}
        </small>
      </p>
    </footer>

  </div>

</body>
</html>
